* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

:root {
  --main-text-color:#ff7ab4;
}
/* Random comment*/
/* Style for the link to the calculator  */
#calc-nav {
  background-color: var(--main-text-color);
  color: #ffffff;
  border: 1px solid var(--main-text-color);
  height: 20px;
  width: 30px;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 4px 2px;
  cursor: pointer;
}
#calculator {
  color: var(--main-text-color)
}
#calculator:hover {
  color: var(--main-text-color);
  text-decoration: underline;
  cursor: pointer;
}
/* Styling for the footer starts here */
footer {
  height: 100px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footertext{
  display: inline-flex;
  align-items: start;
  justify-content: start;
  
}

/* The style for the Contact, Register and LogIn page goes here */
label {
  color: var(--main-text-color);

}
input {
  border: none;
  border-bottom: 1px solid #000000;
  margin: 5px 0;
}
textarea{
  border-radius: 15px;
}
input[type=submit] {
  background-color: var(--main-text-color);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 4px 2px;
  cursor: pointer;
}
/* The style for the Calculator page starts here */
.calc {
  border-radius: 10px;
  width: 200px;
  text-align: center;
  padding: 8px;
  margin: auto;
}
table{
  background-color: #571D4E;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;

}
thead tr td{
  background-color: #E38AE4;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  height: 100px;


}

tbody tr td{
  background-color: #63325E;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  width: 55px;
  height: 55px;
  
}

/* style for colored elements */
.top {
  color: #db3772;
}
.side {
  color: #000000;
}